div.bg-fixed.bg1

div.fade-up(data-0p="display: block; opacity: 1; top: 25vh;" data-70p="display: none; opacity: 0; top: -25vh;")
  h2.md-display-3.capitalize
    | Flexible Inbound Link Explorer

  div.spacer-vertical-l

div(layout="row" layout-align="center")
  div.macbook-container(data-0p="display: block; opacity: 1; bottom: -10vh;" data-50p="opacity: 0.5; bottom:20vh" data-100p="display: none; opacity: 0; bottom: 50vh;")
    div.macbook-frame
      div.macbook-browser
        div(typedjs model="domains" options="typedjsOptions")


div.fade-down(data-0p="display: block; opacity: 1; bottom: 2vh;" data-50="display: none; opacity: 0; bottom: -5vh")
  div.hint.pointer(waypoint-move-down)
    h5 Learn More

    i.zmdi.zmdi-long-arrow-down

div.back-to-top(back-to-top title="Back to Top")
  i.zmdi.zmdi-chevron-up.zmdi-hc-2x
