@import "colors"

body.landing #top
  display: flex
  flex-direction: column
  align-content: center
  color: $blue-pale

  h2,h3,h4,i
    text-shadow: 0px 1px 1px rgba(0,0,0,0.6)

  h4
    margin: 10px 0

  .hint
    text-shadow: none
    color: #222
    z-index: 4

  .hint:hover
    color: lighten(#222,30%)

  .hint i
    animation: bounce 1.5s infinite

  @keyframes bounce
    0%, 20%, 50%, 80%, 100%
      transform: translateY(0)

    40%
      transform: translateY(15px)

    60%
      transform: translateY(7px)

  .fade-up,
  .fade-down
    position: fixed
    width: 100vw
    text-align: center

  .fade-up
    top: 30vh
    z-index: 2

  .fade-down
    z-index: 4
    bottom: 5vh
    font-size: 30px

.bg-fixed
  position: fixed
  z-index: 1
  background-color: #B3B3B3
  width: 100vw
  height: 100vh

  background-size: cover
  background-repeat: no-repeat
  background-position: top left
  backface-visibility: hidden
  filter: brightness(0.4)

  &.bg1
    background-image: url(assets/charts-1.jpg)
  &.bg2
    background-image: url(assets/charts-2.jpg)

.back-to-top
  visibility: hidden
  background-color: #444
  width: 50px
  height: 50px
  text-align: center
  line-height: 48px
  position: fixed
  bottom: 65px
  right: 35px
  z-index: 90
  cursor: pointer
  border-radius: 1px
  opacity: 0
  transform: translateZ(0)
  transition: all .6s

  i
    color: #fff
    vertical-align: middle

  &:hover
    background-color: $blue-strong
    opacity: 1

  &.show
    visibility: visible
    bottom: 35px
    opacity: 1
