@import "colors"

.macbook-container
  $ratio: 1.724137931
  $width: 800px
  $height: $width / $ratio

  z-index: 3
  position: fixed
  left: calc(50vw - #{ $width / 2 })
  width: $width
  height: $height
  background-image: url('assets/macbook-frame.png')
  background-repeat: no-repeat
  background-size: 100% 100%
  backface-visibility: hidden

  .macbook-frame
    height: 100%
    width: 100%
    box-sizing: border-box
    border-style: solid
    border-color: transparent
    border-top-width: 25px
    border-left-width: 95px
    border-right-width: 91px

  .macbook-browser
    background-color: white
    border: 2px solid #999
    border-radius: 4px
    color: black
    width: 100%
    height: 100%

    box-sizing: border-box
    padding: 20px
