@import "colors"

body.landing
  section
    padding-top: 75px
    display: flex
    flex-direction: row
    justify-content: center

  .feature-slides
    background-color: white
    color: $gray-medium

    h1,h2
      font-weight: 500
      text-align: center

    h1
      color: #182848
      font-size: 36px

    h2
      color: $purple-medium
      font-size: 28px

    h3
      color: #182848
      font-weight: 500

    p
      font-weight: 500
      font-size: 14px
      text-align: justify

    img
      max-width: 40vw

    .feature
      display: flex
      flex-direction: row
      $easing: cubic-bezier(0.455, 0.030, 0.515, 0.955)
      $transition: opacity .5s $easing, transform 1s $easing

      .feature-filler
        flex: 1

      .feature-text
        flex: 1 1 40%
        max-width: 40%
        transition: $transition
        opacity: 0.1

        &.active
          opacity: 1

      .feature-img
        flex: 1 1 50%
        max-width: 50%
        opacity: 0.1
        transition: $transition

        &.active
          opacity: 1

      & > :first-child
        transform: translateX(-40px)

        &.active
          transform: translateX(0px)

      & > :last-child
        transform: translateX(40px)

        &.active
          transform: translateX(0px)


  .feature-grid
    background-color: $blue-pale

    h1
      color: black
      font-size: 36px
      font-weight: 500
      text-align: center

    md-grid-tile
      figure
        display: flex
        flex-direction: column

    $tile-color-1: #88C2D8
    $tile-color-2: #1185B1
    $tile-color-3: #2F6B91
    $tile-color-4: #065A8F
    $tile-color-5: #006891
    $tile-color-6: #43A7D2
    $tile-color-7: #2897C6
    $tile-color-8: #1E9FD4
    $tile-color-9: #2E94CF
    $tile-color-10: #182848
    $tile-color-11: #122337
    $tile-color-12: #9CC754
    $tile-color-13: #587526
    $tile-color-14: #5CC4BE
    $tile-color-15: #7CCFCB
    $tile-color-16: #3E3354

    .feature-grid-tile-1
      color: white
      background-color: $tile-color-13
    .feature-grid-tile-2
      background-color: $tile-color-12
    .feature-grid-tile-3
      color: white
      background-color: $tile-color-16
    .feature-grid-tile-4
      background-color: $tile-color-15
    .feature-grid-tile-5
      color: white
      background-color: $tile-color-11
    .feature-grid-tile-6
      background-color: $tile-color-1

  .start
    padding: 60px 0
    text-align: center
    color: white
    cursor: pointer
    transition: all .2s easeOut
    animation: color 10s linear infinite

    &:hover
      animation: none
      background-color: hsl(231,99,59)

    @keyframes color
      0%
        background-color: hsl(200,80,30)
      25%
        background-color: hsl(215,87,30)
      50%
        background-color: hsl(231,99,30)
      75%
        background-color: hsl(215,87,30)
      100%
        background-color: hsl(200,80,30)

  .live-stats
    padding-bottom: 75px

    .live-stats-container
      padding: 20px
      background-color: rgba(255,255,255,0.8)
      border-radius: 4px
      display: flex
      flex-direction: row

    .live-stats-chart
      img
        max-width: 100%

    .live-stats-data
      display: flex
      flex-direction: column

      h2, .bold
        color: #182848

      table
        flex: 1
        width: 100%

      table td
        padding: 2px 0

      table td:last-child
        text-align: right


  .testimonials
    background-color: #555
    color: white
