section.feature-slides
  div#wrapper
    h1 All the Data You Need
    div.spacer-vertical-m
    h2 Flexible Filter System

    div.spacer-vertical-xl

    div.feature
      div.feature-text
        h3 Easy and Intuitive usage
        div.spacer-vertical-m
        p Find links by domains, anchortexts, status code, nofollowed or blocked pages.
        div.spacer-vertical-s
        p(ipsum="40w")

      div.feature-filler

      div.feature-img.align-right
        img(src="assets/features-4.png")

    div.spacer-vertical-xl

    div.feature
      div.feature-img
        img(src="assets/features-6.png")

      div.feature-filler

      div.feature-text
        h3 Huge Database
        div.spacer-vertical-m
        p Our crawler keeps working all the time... to bring you to all corners of the interwebz
        div.spacer-vertical-s
        p(ipsum="55w")

    div.spacer-vertical-xl

    div.feature
      div.feature-text
        h3 Catchy feature line #3
        div.spacer-vertical-m
        p Find links by domains, anchortexts, status code, nofollowed or blocked pages.
        div.spacer-vertical-s
        p(ipsum="48w")

      div.feature-filler

      div.feature-img.align-right
        img(src="assets/features-5.png")

    div.spacer-vertical-xl

    h2 Plus all these features:

    div.spacer-vertical-l

md-grid-list.feature-grid(
  md-cols-sm='2',
  md-cols-md='3',
  md-cols-gt-md='3',
  md-row-height='4:3',
  md-row-height-gt-sm='1:1',
  md-gutter='0px')

  md-grid-tile.feature-grid-tile-1
    i.zmdi.zmdi-file-text.zmdi-hc-5x
    div.spacer-vertical-m
    h3 Feature Super Cool {{ i }}
  md-grid-tile.feature-grid-tile-2
    i.zmdi.zmdi-camera-front.zmdi-hc-5x
    div.spacer-vertical-m
    h3 Feature Super Cool {{ i }}
  md-grid-tile.feature-grid-tile-3
    i.zmdi.zmdi-folder-person.zmdi-hc-5x
    div.spacer-vertical-m
    h3 Feature Super Cool {{ i }}
  md-grid-tile.feature-grid-tile-4
    i.zmdi.zmdi-laptop.zmdi-hc-5x
    div.spacer-vertical-m
    h3 Feature Super Cool {{ i }}
  md-grid-tile.feature-grid-tile-5
    i.zmdi.zmdi-remote-control-alt.zmdi-hc-5x
    div.spacer-vertical-m
    h3 Feature Super Cool {{ i }}
  md-grid-tile.feature-grid-tile-6
    i.zmdi.zmdi-tv-play.zmdi-hc-5x
    div.spacer-vertical-m
    h3 Feature Super Cool {{ i }}


section.start(ui-sref="pricing")
  div#wrapper
    h1 Start Using Stratege.ms Now
    div.spacer-vertical-l
    p See available plans & pricing

section.live-stats
  div#wrapper
    div.live-stats-container
      div.live-stats-chart(flex="40")
        img(src="assets/features-6.png")

      span(flex)

      div.live-stats-data(flex="50")
        h2 Index Stats
        hr
        div.spacer-vertical-m

        table
          tr
            td Unique URLs crawled:
            td 862,978,364,744
          tr
            td Unique URLs found:
            td 3,395,758,635,853
          tr
            td Date range:
            td 16 Feb 2010 to 18 Sep 2015
          tr
            td.bold Last updated:
            td.bold 14 Oct 2015

section.testimonials
  div#wrapper
    h2.md-display-3 What people are saying...

    div.spacer-vertical-l

    div(ipsum="1p")

    div.spacer-vertical-xl
