.capitalize
  text-transform: capitalize

.upper
  text-transform: uppercase

.lower
  text-transform: lowercase

.nomargin
  margin: 0

.pointer
  cursor: pointer

.align-right
  text-align: right

.bold
  font-weight: 700
