// Variables
// --------------------------

// $zmdi-font-name:      "Material-Design-Iconic-Font" !default;
$zmdi-font-path:      "assets/fonts" !default;
// $zmdi-css-prefix:     zmdi-hc !default;
// $zmdi-icon-prefix:    zmdi !default;
// $zmdi-version:        "2.1.0" !default;

// $zmdi-border-color:   #9E9E9E !default;
// $zmdi-inverse:        #FFFFFF !default;
// $zmdi-li-width:       (30em / 14) !default;

@import "material-design-iconic-font"
