$slick-font-path: "./assets/fonts/" !default;
$slick-loader-path: "./assets/" !default;
$slick-arrow-color: blue !default;

@import "slick-theme.scss"

// $slick-font-family: "slick" !default;
// $slick-dot-color: black !default;
// $slick-dot-color-active: $slick-dot-color !default;
// $slick-prev-character: "←" !default;
// $slick-next-character: "→" !default;
// $slick-dot-character: "•" !default;
// $slick-dot-size: 6px !default;
// $slick-opacity-default: 0.75 !default;
// $slick-opacity-on-hover: 1 !default;
// $slick-opacity-not-active: 0.25 !default;

