.table-material
  $borderColor: #DDDDDD
  $headerColor: #757575
  $headerColorHighlight: rgba(0,0,0,0.87)
  $titleColor: #000000
  $bodyColor: rgba(0,0,0,0.87)
  $footerColor: rgba(0,0,0, 0.54)

  $rowBackground: white
  $rowBackgroundHover: #EEEEEE

  $titleFontSize: 20px
  $headerFontSize: 13px
  $bodyFontSize: 12px
  $footerFontSize: 11px

  // div.table-material
  //   div.table-header
  //     span.table-title Table Title
  //
  //   table.table-centered
  //     thead ...
  //     tbody ...
  //
  //   div.tble-footer

  padding: 0

  .table-header
    height: 64px
    padding: 0px 24px
    display: flex
    align-items: center
    border-bottom: 1px solid $borderColor

  .table-title
    font-size: $titleFontSize
    color: $titleColor

  .table-footer
    height: 56px
    padding: 0px 24px
    display: flex
    flex-direction: row
    justify-content: flex-end
    align-items: center
    font-size: $footerFontSize

  table
    width: 100%
    display: table
    table-layout: fixed
    outline: none !important
    border-collapse: collapse
    border-spacing: 0

    &, th, td
      border: none

    th, td
      display: table-cell
      text-align: left
      vertical-align: middle
      border-radius: 2px

    tr
      font-size: $bodyFontSize

    th
      height: 56px
      font-size: $headerFontSize
      font-weight: 500
      color: $headerColor

    td
      height: 48px
      color: $bodyColor
      border-bottom: 1px solid $borderColor
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

    th:first-child,
    td:first-child
      padding: 0 0 0 24px

    th:last-child,
    td:last-child
      padding: 0 14px 0 0

    tr:last-child td
      border: none

table.table-centered
  th, td
    text-align: center
