div#wrapper
  div(layout="row" layout-align="space-between")
    nav(layout="column")
      a(href="") About Stratage.ms
      a(href="") Link Navigator
      a(href="") Kumo
      a(href="") Documentation
      a(href="") Contact & Feedback

    nav(layout="column")
      a(href="") Log in
      a(href="") Sign up
      a(href="") Pricing
      a(href="") API
      a(href="") Help

    nav(layout="column")
      a(href="") Site Ranking
      a(href="") Newly Discovered Links
