div#wrapper
  div(layout="row" layout-align="start center")
    span.pointer.logo(ui-sref="landing") Stratage.ms
    span(flex)

    nav#topnav
      a(ui-sref="landing" ui-sref-active="active") Home
      a(ui-sref="products" ui-sref-active="active") Products
      a(ui-sref="pricing" ui-sref-active="active") Pricing
      a(ui-sref="docs" ui-sref-active="active") Docs

    md-button.md-button-rounded.blue-border(ui-sref="panel") Log In

    div(themeswitcher)
