@import "colors"

$padding: 16px

#root
  display: flex
  flex-direction: column
  min-height: 100vh

#wrapper
  width: 100%
  max-width: 900px

#root > header
  display: flex
  justify-content: center
  position: fixed
  z-index: 4
  top: 0
  left: 0
  right: 0
  color: white
  background-color: $blue-medium
  transition: all .3s ease-in-out
  padding: 0px 0px

  nav
    opacity: 1

  nav a
    font-size: 14px
    border-bottom: 1px solid transparent
    margin: 0 8px

  nav a.active
    border-bottom-color: white

  .md-button
    border-color: white

#root > header.transparent
  background-color: rgba(0,0,0,0)
  color: $blue-pale
  padding: 20px 0px

  nav
    opacity: 0
    display: none

  .md-button
    border-color: $blue-pale

#root > main
  z-index: 3
  flex: 1

#root > footer
  z-index: 3
  display: flex
  justify-content: center
  color: white
  background-color: $blue-medium
  padding: 20px 0

  nav a
    font-size: 14px
    margin: 4px 0

body.static main
  margin-top: 50px
  display: flex
  justify-content: center
