@import "colors"

[slider]
  max-width: 700px
  margin-bottom: 0px

  .slick-track
    display: flex
    flex-direction: row
    align-items: center
    min-height: 120px


  .slick-slide
    outline: none !important
    z-index: 2

    &.slick-center
      z-index: 3

  .slick-item
    line-height: 50px
    font-size: 11px
    margin: 10px
    border: 1px solid gray
    background-color: white
    transition: all .25s cubic-bezier(0.455,  0.030, 0.515, 0.955)
    text-align: center
    cursor: pointer
    user-select: none

  .slick-center .slick-item
    transform: scale(1.5)
    color: $blue-light
