body.products
  .animate-show
    opacity: 1
    transition: .1s linear all

  .animate-show.ng-hide-animate
    opacity: 0

  .animate-show-2
    transition-delay: 0.1s

  .animate-show-3
    transition-delay: 0.2s
