div#wrapper
  div.spacer-vertical-m

  div(flex layout="column" layout-align="start center")
    h3.md-title.nomargin Link Navigator - Fiddle with me

  div.spacer-vertical-m

  div(layout="row" layout-align="center")
    div(slider model="domains")

  div.spacer-vertical-m

  div.animate-show(layout="row" ng-show="domainInfo")
    fieldset.md-whiteframe-z2
      legend Link Statistics

      div.table-material
        table.table-centered
          thead
            tr
              th External links
              th Unique Anchortexts
              th Links to Blocked Pages
              th Links to 404/500
              th Links to non-existing sites
          tbody
            tr
              td {{ domainInfo.links.externalLinks | number }}
              td {{ domainInfo.links.uniqueAnchorTexts | number }}
              td {{ domainInfo.links.linksToBlocked | number }}
              td {{ domainInfo.links.linksToBroken | number }}
              td {{ domainInfo.links.linksToUnexisting | number }}

  div.spacer-vertical-l

  div.animate-show.animate-show-2(layout="row" ng-show="domainInfo")
    fieldset.md-whiteframe-z2
      legend Link Statistics by Languages

      div.table-material
        table.table-centered
          thead
            tr
              th English
              th Chinese
              th Spanish
              th Japanese
          tbody
            tr
              td {{ domainInfo.linksByLanguages.english.value | number }}
              td {{ domainInfo.linksByLanguages.chinese.value | number }}
              td {{ domainInfo.linksByLanguages.spanish.value | number }}
              td {{ domainInfo.linksByLanguages.japanese.value | number }}

  div.spacer-vertical-l

  div.animate-show.animate-show-3(layout="row" ng-show="domainInfo")
    fieldset.md-whiteframe-z2
      legend Most Commonly Used Anchortexts

      div.table-material
        table
          thead
            tr
              th(style="width: 60%") Anchortexts
              th Links
              th Nofollow
          tbody
            tr(ng-repeat="row in domainInfo.anchorTexts")
              td {{ row.text }}
              td {{ row.links | number }}
              td {{ row.nofollow | number }}

  div.spacer-vertical-l
