doctype html
html(lang="en")

  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
    title Stratage.ms
    base(href="/")

    link(rel='stylesheet' type='text/css' href="https://fonts.googleapis.com/css?family=Montserrat:400,700")
    link(rel='stylesheet' type='text/css' href="https://fonts.googleapis.com/css?family=Bitter")
    link(rel='stylesheet' type='text/css' href="https://fonts.googleapis.com/css?family=Voces")
    link(rel='stylesheet' type='text/css' href="https://fonts.googleapis.com/css?family=Forum")
    link(rel='stylesheet' type='text/css' href="https://fonts.googleapis.com/css?family=Lato:400,700,300")
    link(rel='stylesheet' type='text/css' href="https://fonts.googleapis.com/css?family=Dosis:400,300,700,500")
    link(rel='stylesheet' type='text/css' href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700,300")
    link(rel='stylesheet' type='text/css' href="https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,700")

    link(rel='stylesheet' type='text/css' href="lib.css")
    link(rel='stylesheet' type='text/css' href="app.css")

  body(ng-app="app" class="{{ bodyClass }}")
    div#root(ui-view)

    script(src="lib.js")
    script(src="templates.js")
    script(src="app.js")
