@import "colors"

.typed-wrapper
  $bgcolor: #555
  $textcolor: #555
  $btncolor: $blue-pale

  display: flex
  justify-content: center

  .typed-container
    flex: 1
    padding: 0 10px
    border: 1px solid $bgcolor
    border-radius: 3px 0 0 3px
    overflow-x: scroll
    font-size: 15px
    line-height: 40px
    text-align: left

  .typed-input
    font-family: 'Bitter'
    white-space: nowrap
    color: darken($textcolor, 10%)

  .typed-cursor
    font-size: 18px
    opacity: 1
    animation: blink 0.7s infinite

  .code
    font-style: italic

  @keyframes blink
    0%
      opacity: 1
    50%
      opacity: 0
    100%
      opacity: 1

  button
    position: relative
    width: 110px
    border: 0
    padding: 0
    cursor: pointer
    color: $btncolor
    text-transform: uppercase
    background: $bgcolor
    border-radius: 0 3px 3px 0
    font-size: 15px
    line-height: 40px
    outline: none !important

    &:before
      content: ''
      position: absolute
      border-width: 8px 8px 8px 0
      border-style: solid solid solid none
      border-color: transparent $bgcolor transparent
      top: 12px
      left: -6px

    &:hover
      background: ligthen($bgcolor, 5%)
    &:hover:before
      border-right-color: ligthen($bgcolor, 5%)
    &:focus:before
      border-right-color: darken($bgcolor, 5%)
    &:active, &:focus
      background: darken($bgcolor, 5%)
