svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 1024 768', style='enable-background:new 0 0 1024 768;', xml:space='preserve')
  style(type='text/css').
    .st0{opacity:0.7;}
    .st1{fill:url(#SVGID_1_);}
    .st2{fill:url(#SVGID_2_);}
    .st3{fill:#1C1F23;}
    .st4{fill:url(#SVGID_3_);}
    .st5{fill:#000003;stroke:#323232;stroke-miterlimit:10;}
    .st6{fill:url(#SVGID_6_);}
    .st7{fill:url(#SVGID_7_);}
    .st8{fill:url(#SVGID_8_);}
    .st9{filter:url(#Adobe_OpacityMaskFilter);}
    .st10{fill:url(#SVGID_10_);}
    .st11{opacity:0.21;mask:url(#SVGID_9_);fill:#FFFFFF;}
    .st12{filter:url(#Adobe_OpacityMaskFilter_1_);}
    .st13{fill:url(#SVGID_12_);}
    .st14{opacity:0.55;mask:url(#SVGID_11_);fill:#B9BABD;}
  g.st0
    lineargradient#SVGID_1_(gradientunits='userSpaceOnUse', x1='162.6083', y1='360.7183', x2='869.0765', y2='360.7183')
      stop(offset='5.454550e-02', style='stop-color:#8C8C8C')
      stop(offset='0.2182', style='stop-color:#A0A0A0')
      stop(offset='0.4', style='stop-color:#787878')
      stop(offset='0.6424', style='stop-color:#A0A0A0')
      stop(offset='0.8364', style='stop-color:#787878')
      stop(offset='1', style='stop-color:#A0A0A0')
    path.st1(d='M836.5,124.9H186.3c-12.1,0-22,9.9-22,22v19.7v126.7v163.8v116v8.4c0,8.2,6.8,15,15,15h664.2\
    c8.2,0,15-6.8,15-15v-8.4v-116V293.3V166.6v-19.7C858.5,134.8,848.6,124.9,836.5,124.9z')
    lineargradient#SVGID_2_(gradientunits='userSpaceOnUse', x1='162.2925', y1='360.7183', x2='868.7605', y2='360.7183')
      stop(offset='5.454550e-02', style='stop-color:#8C8C8C')
      stop(offset='0.2182', style='stop-color:#A0A0A0')
      stop(offset='0.4', style='stop-color:#787878')
      stop(offset='0.6424', style='stop-color:#A0A0A0')
      stop(offset='0.8364', style='stop-color:#787878')
      stop(offset='1', style='stop-color:#A0A0A0')
    path.st2(d='M843.5,598.5H179.3c-9.4,0-17-7.6-17-17V146.9c0-13.2,10.8-24,24-24h650.2c13.2,0,24,10.8,24,24v434.7\
    C860.5,590.9,852.9,598.5,843.5,598.5z M186.3,126.9c-11,0-20,9-20,20v434.7c0,7.2,5.8,13,13,13h664.2c7.2,0,13-5.8,13-13V146.9\
    c0-11-9-20-20-20H186.3z')
  g
    path.st3(d='M858.5,581.5c0,8.2-6.8,15-15,15H179.3c-8.2,0-15-6.8-15-15V166.6c0-8.2,6.8-15,15-15h664.2\
    c8.2,0,15,6.8,15,15V581.5z')
  lineargradient#SVGID_3_(gradientunits='userSpaceOnUse', x1='511.4138', y1='591.6748', x2='511.4138', y2='581.1748')
    stop(offset='0', style='stop-color:#2B2C2E')
    stop(offset='0.5879', style='stop-color:#272B30')
    stop(offset='0.7879', style='stop-color:#0A0E11')
    stop(offset='1', style='stop-color:#070B0E')
  rect.st4(x='236.2', y='581.2', width='550.5', height='10.5')
  path.st5(d='M836.5,124.9H186.3c-12.1,0-22,9.9-22,22v146.4v163.8v116c0,4.4,3.6,8.1,8.1,8.1h678.1c4.4,0,8.1-3.6,8.1-8.1\
  v-116V293.3V146.9C858.5,134.8,848.6,124.9,836.5,124.9z')
  g
    defs
      rect#SVGID_4_(x='183.6', y='151.6', width='655.5', height='412.5')
    use(xlink:href='#SVGID_4_', style='overflow:visible;fill:#E8E9EA;')
    clippath#SVGID_5_
      use(xlink:href='#SVGID_4_', style='overflow:scroll;')
  lineargradient#SVGID_6_(gradientunits='userSpaceOnUse', x1='81.4326', y1='599.791', x2='939.7949', y2='599.791')
    stop(offset='0', style='stop-color:#828387')
    stop(offset='5.801720e-03', style='stop-color:#D0D1D3')
    stop(offset='2.559890e-02', style='stop-color:#929397')
    stop(offset='5.416330e-02', style='stop-color:#D1D2D5')
    stop(offset='0.5091', style='stop-color:#F3F3F4')
    stop(offset='0.9364', style='stop-color:#D1D2D5')
    stop(offset='0.9672', style='stop-color:#929397')
    stop(offset='0.9894', style='stop-color:#E6E6E6')
    stop(offset='0.9955', style='stop-color:#D0D1D3')
    stop(offset='1', style='stop-color:#828387')
  rect.st6(x='81.4', y='591.8', width='858.4', height='15.9')
  lineargradient#SVGID_7_(gradientunits='userSpaceOnUse', x1='450.7791', y1='596.9185', x2='570.4482', y2='596.9185')
    stop(offset='0', style='stop-color:#95969B')
    stop(offset='7.878790e-02', style='stop-color:#D8D9DB')
    stop(offset='0.5455', style='stop-color:#D7D8DB')
    stop(offset='0.9212', style='stop-color:#D8D9DB')
    stop(offset='1', style='stop-color:#95969B')
  path.st7(d='M562.3,602h-51.7h-52.2c0,0-3.3-0.5-5.7-4c-2.3-3.3-1.9-6.2-1.9-6.2h59.8h59.8c0,0-0.4,4.2-2.8,6.8\
  C565.2,601.5,562.3,602,562.3,602z')
  lineargradient#SVGID_8_(gradientunits='userSpaceOnUse', x1='510.6135', y1='618.863', x2='510.6135', y2='607.75')
    stop(offset='0', style='stop-color:#2B2C2E')
    stop(offset='0.1452', style='stop-color:#3C3D40')
    stop(offset='0.3721', style='stop-color:#5F6064')
    stop(offset='0.7504', style='stop-color:#88898D')
    stop(offset='1', style='stop-color:#909195')
  path.st8(d='M81.4,607.8c0,0,4.9,4.1,18.9,8.1c11.6,3.3,31.5,3,31.5,3h757.6c0,0,19.9,0.3,31.5-3c13.9-4,18.9-8.1,18.9-8.1\
  H81.4z')
  defs
    filter#Adobe_OpacityMaskFilter(filterunits='userSpaceOnUse', x='570.6', y='124.9', width='287.9', height='456.3')
      feflood(style='flood-color:white;flood-opacity:1', result='back')
        feblend(in='SourceGraphic', in2='back', mode='normal')
  mask#SVGID_9_(maskunits='userSpaceOnUse', x='570.6', y='124.9', width='287.9', height='456.3')
    g.st9
      lineargradient#SVGID_10_(gradientunits='userSpaceOnUse', x1='710.5', y1='501.0526', x2='710.5', y2='168.9064')
        stop(offset='0', style='stop-color:#000000')
        stop(offset='1', style='stop-color:#FFFFFF')
      rect.st10(x='552', y='118', width='317', height='482')
  path.st11(d='M836.5,124.9H570.6l182.9,456.3h96.9c4.4,0,8.1-3.6,8.1-8.1v-116V293.3V146.9\
  C858.5,134.8,848.6,124.9,836.5,124.9z')
  defs
    filter#Adobe_OpacityMaskFilter_1_(filterunits='userSpaceOnUse', x='81.4', y='618.9', width='858.4', height='11.1')
      feflood(style='flood-color:white;flood-opacity:1', result='back')
        feblend(in='SourceGraphic', in2='back', mode='normal')
  mask#SVGID_11_(maskunits='userSpaceOnUse', x='81.4', y='618.9', width='858.4', height='11.1')
    g.st12
      lineargradient#SVGID_12_(gradientunits='userSpaceOnUse', x1='508.2602', y1='617.3926', x2='508.2602', y2='629.4729')
        stop(offset='0', style='stop-color:#FFFFFF')
        stop(offset='1', style='stop-color:#000000')
      rect.st13(x='72.6', y='612.5', width='871.3', height='21.5')
  path.st14(d='M81.4,630c0,0,4.9-4.1,18.9-8.1c11.6-3.3,31.5-3,31.5-3h757.6c0,0,19.9-0.3,31.5,3c13.9,4,18.9,8.1,18.9,8.1\
  H81.4z')
