$colors: (
  'white1':  #FFFFFF,
  'blue3':   #88C2D8,
  'blue2':   #1185B1,
  'blue7':   #2F6B91,
  'blue1':   #065A8F,
  'blue10':  #006891,
  'blue5':   #43A7D2,
  'blue4':   #2897C6,
  'blue9':   #1E9FD4,
  'blue11':  #2E94CF,
  'blue8':   #182848,
  'blue6':   #122337,
  'green1':  #9CC754,
  'green2':  #587526,
  'green3':  #5CC4BE,
  'green4':  #7CCFCB,
  'purple1': #3E3354,
  'purple2': #66548B,
  'purple3': #B1A6C9,
  'brown1':  #333333,
  'brown2':  #5F5F5F,
  'brown3':  #AFAFAF,
  'brown4':  #845D33,
  'brown5':  #BA844A,
  'brown6':  #DCC1A4,
  'orange1': #FBB03B,
  'pink1':   #BA3A95,
  'pink2':   #C46A8C
);

$fonts: (
  "montserrat": "Montserrat",
  "bitter": "Bitter",
  "voces": "Voces",
  "forum": "Forum",
  "lato": "Lato",
  "dosis": "Dosis",
  "titillium": "Titillium Web",
  "josefin": "Josefin Sans"
);

@each $key,$val in $colors {
  .colortheme-bg-#{$key}:not(.transparent) {
    background-color: $val !important;
  }
  .colortheme-text-#{$key} {
    color: $val !important;
  }
}

@each $key,$val in $fonts {
  .font-#{$key} {
    font-family: $val;
  }
}

[themeswitcher] {
  md-menu-content {
    color: black;
  }

  .themeswitcher-cog {
    margin: 0 10px;
    i {
      cursor: pointer;
    }
  }
}
