md-dialog(aria-label='Mango (Fruit)', ng-cloak='')
  form
    md-toolbar
      div.md-toolbar-tools
        h2 Set theme
        span(flex='')

        md-button.md-icon-button(ng-click='cancel()')
          i.zmdi.zmdi-close

    md-dialog-content(style='max-width:800px;max-height:810px;')
      div.md-dialog-content
        h2 Choose what items to set the color {{ color }}
        p The mango is a juicy stone fruit belonging to the genus Mangifera, consisting of numerous tropical fruiting trees, cultivated mostly for edible fruit. The majority of these species are found in nature as wild mangoes. They all belong to the flowering plant family Anacardiaceae. The mango is native to South and Southeast Asia, from where it has been distributed worldwide to become one of the most cultivated fruits in the tropics.
        img(style='margin: auto; max-width: 100%;', alt='Lush mango tree', src='http://lorempixel.com/600/400')
        p The highest concentration of Mangifera genus is in the western part of Malesia (Sumatra, Java and Borneo) and in Burma and India. While other Mangifera species (e.g. horse mango, M. foetida) are also grown on a more localized basis, Mangifera indica—the "common mango" or "Indian mango"—is the only mango tree commonly cultivated in many tropical and subtropical regions.
        p It originated in Indian subcontinent (present day India and Pakistan) and Burma. It is the national fruit of India, Pakistan, and the Philippines, and the national tree of Bangladesh. In several cultures, its fruit and leaves are ritually used as floral decorations at weddings, public celebrations, and religious ceremonies.

    div.md-actions(layout='row', layout-align="space-between")
      md-button.md-raised(ng-click="setBg()") Backgrounds
      md-button.md-raised(ng-click="setTxt()") Texts
