//- md-fab-speed-dial.md-fling.themeswitcher(md-direction="down")
//-   md-fab-trigger
//-     md-button.md-fab.md-mini(aria-label="sss")
//-       i.zmdi.zmdi-brush.zmdi-hc-2x

//-   md-fab-actions
//-     md-button.md-fab.md-mini(ng-repeat="item in tCtrl.items" aria-label="hi" ng-click="tCtrl.change($event, item)" ng-class="'colortheme-bg-' + item")
//-       div.md-fab-bg()

md-menu-bar
  md-menu(md-position-mode="target-right target")
    div.themeswitcher-cog(ng-click="$mdOpenMenu($event)")
      i.zmdi.zmdi-settings.zmdi-hc-2x(md-menu-origin)

    md-menu-content(width="4")
      md-menu-item
        md-button(ng-click='ctrl.redial($event)') Backgrounds

      md-menu-item
        md-button(ng-click='ctrl.checkVoicemail()') Colors

      md-menu-item
        md-menu
          md-button(ng-click='$mdOpenMenu()') Fonts

          md-menu-content(width='4')
            md-menu-item(ng-repeat="font in ctrl.fonts")
              md-button(ng-click='ctrl.setFont(font)') {{ font }}
